$dark: #303841;
$medium: #3a4750;
$light: #d3d6db;
$red: #BE3144;

$title: 'Rubik', sans-serif;
$text: 'Libre Franklin', sans-serif;
$sub-title: 'Noto Sans', sans-serif;
$sub-text: 'Fira Sans', sans-serif;


.header{
    background: #d3d6db;
    height: 100vh;
    .header-overlay{
        width: 100%;
        height: 100%;
        padding: 200px 0 0 0;
        .sections{
            h1{
                font-family: $title;
                color: $red;
                font-weight: bolder;
                font-size: 50px;
            }
            p{
                font-family: $sub-title;
                color: $dark;
                font-weight: bold;
            }
        }
    }
}