.header {
  background: #d3d6db;
  height: 100vh; }
  .header .header-overlay {
    width: 100%;
    height: 100%;
    padding: 200px 0 0 0; }
    .header .header-overlay .sections h1 {
      font-family: "Rubik", sans-serif;
      color: #BE3144;
      font-weight: bolder;
      font-size: 50px; }
    .header .header-overlay .sections p {
      font-family: "Noto Sans", sans-serif;
      color: #303841;
      font-weight: bold; }
