$dark: #303841;
$medium: #3a4750;
$light: #d3d6db;
$red: #BE3144;

$title: 'Rubik', sans-serif;
$text: 'Libre Franklin', sans-serif;
$sub-title: 'Noto Sans', sans-serif;
$sub-text: 'Fira Sans', sans-serif;


nav{
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    .brand{
        height: 30px;
        .brand-img{
            height: inherit;
        }
    }
    .nav-items-container{
        width: fit-content;
        display: flex;
        margin: 0 0 0 auto;
        a{
            text-decoration: none;
            .nav-items{
                margin: 0 20px;
                color: $dark;
                font-weight: bold;
                font-family: $text;
            }
        }
    }
}