<template>
    <div>
        <section class="header text-right">
            <div class="header-overlay">
                <div class="container">
                    <div class="sections">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>lorem ipsum dolor sit amet</h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sapiente dolorem laborum voluptas reiciendis deleniti
                                    veritatis veniam reprehenderit temporibus officiis, vero alias doloremque esse fugit
                                    illo sit ullam ducimus? Temporibus?
                                </p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="sections">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel owl-theme">
                                <div class="item"><h4>1</h4></div>
                                <div class="item"><h4>2</h4></div>
                                <div class="item"><h4>3</h4></div>
                                <div class="item"><h4>4</h4></div>
                                <div class="item"><h4>5</h4></div>
                                <div class="item"><h4>6</h4></div>
                                <div class="item"><h4>7</h4></div>
                                <div class="item"><h4>8</h4></div>
                                <div class="item"><h4>9</h4></div>
                                <div class="item"><h4>10</h4></div>
                                <div class="item"><h4>11</h4></div>
                                <div class="item"><h4>12</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Home",
        computed:{
            introImages(){
                return[
                    { url: "../static/image/fate.jpg", class: "carousel-item active" },
                    { url: "../static/image/fate.jpg", class: "carousel-item" }
                ]
            }
        },
        mounted(){
            this.$nextTick(() => {
            })
        }
    }
</script>

<style>
</style>