<template>
  <div id="app">
    <nav>
      <div class="brand">
        <img class="brand-img" src="../static/image/official.png" alt="">
      </div>
      <div class="nav-items-container">
        <router-link v-for="link in links" :key="link.link" :to="link.link">
          <div class="nav-items">
            {{ link.title }}
          </div>
        </router-link>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed:{
    links(){
      return [
        { title: "Gallery", link: "links" }
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
</style>